
#main_container {
    width: 60% !important;
}
.choosedToken {
    background-color: #0e0c28 !important;
    color: white !important;

}
.choosedToken h2 {
    color: white !important;
}


.container_of_header {
    display: flex;
    justify-content:space-between;
}