<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <div class="dashboard-header">
      <nav class="navbar navbar-expand-lg bg-white fixed-top">
        
          <a class="navbar-brand" href="#">Content Crafter</a>
          
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto navbar-right-top">

                  
                  
                  
              </ul>
          </div>
      </nav>
  </div>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->

</div>



<!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
      <div class="menu-list"s>
          <nav class="navbar navbar-expand-lg navbar-light">
              
              
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav flex-column">
                      <li class="nav-divider">
                          Menu
                      </li>
                      <li class="nav-item ">
                          <a class="nav-link" href="/home" ><i class="fa fa-fw fa-user-circle"></i>Articles Hub <span class="badge badge-success"></span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/content-creation"><i class="fa fa-fw fa-rocket"></i>Content Creation</a>
                      </li>

                     <!-- <li class="nav-item">
                          <a class="nav-link" href="/search"><i class="fa fa-fw fa-rocket"></i>Search</a>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link" href="/smart-ai"><i class="fa fa-fw fa-rocket"></i>Smart AI</a>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link" href="/manuel-article"><i class="fa fa-fw fa-rocket"></i>Add article</a>
                      </li>
                      
                      <li class="nav-item">
                          <a class="nav-link" href="/milestones"><i class="fa fa-fw fa-rocket"></i>Milestones</a>
                      </li> -->
                      
                      
                  </ul>
              </div>
          </nav>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- end left sidebar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->


  <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
      
        <router-outlet></router-outlet>
    </div>
  <!-- ============================================================== -->
  <!-- end wrapper  -->
  <!-- ============================================================== -->


  